@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

.container {
  width: 100%;
  background-color: #54C2F1;
  z-index: 0;
  height: 100vh;
}

.logo {
  position: absolute;
  left: 50px;
  top: 25px;
}

.froyos {
  z-index: 10;
  @include media-breakpoint-down(md) {
    width: 100%;
  }
  @include media-breakpoint-down(sm) {
    width: 60%;
    margin-top: 100px;
    margin-bottom: 25px;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 0;
}

.col {
  display: flex;
  align-items: center;
  flex-direction: row;
  @include media-breakpoint-up(md) {
    height: 100vh;
  }
}

.text {
  color: #fff;
  font-family: 'Work Sans', sans-serif;
  font-weight: 100;
}

.textHeader {
  color: #fff;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  @include media-breakpoint-down(md) {
    font-size: 1.6em;
  }
}

.buttonContainer {
  display: grid;
  @include media-breakpoint-down(md) {
    grid-template-rows: 1fr 1fr;
  }
  @include media-breakpoint-up(md) {
    grid-template-columns: 1fr 1fr;
  }
  grid-gap: 10px;
  z-index: 10;
}

.facebookButton {
  background-color: #1877F2 !important;
  color: #fff !important;
  border-color: #1877F2 !important;
}

.googleButton {
  background-color: #fff !important;
  color: #757575 !important;
  border-color: #fff !important;
}