rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	match /users/{userId} {
    	allow read, write: if isLoggedIn() && isOwner(userId);
    }
    match /rooms/{roomId} {
    	allow read: if isLoggedIn();
      allow create: if isLoggedIn();
      allow update, delete: if isLoggedIn() && isOwner(resource.data.owner);
    }
  }

  function isLoggedIn() {
    return request.auth != null;
  }

  function isOwner(userId) {
    return request.auth.uid == userId;
  }
}