@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

.col {
  background: #F2F2F2;
  box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.05);
  padding: 16px;
  @include media-breakpoint-up(sm) {
    overflow: auto;
    height: 100vh;
  }
}

.mainCol {
  height: 100vh;
  overflow: auto;
  padding: 16px;
}