.videoPanel {
  background-color: #222222;
  padding: 16px;
}

.participants {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  grid-gap: 5px;
  align-items: stretch;
  height: 90vh;
}