.videoPanel {
  background-color: #222222;
  padding: 16px;
  height: 100vh;
}

.participants {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  grid-gap: 3px;
  align-items: stretch;
  max-width: 1052px;
}
